body{
    background: url('../img/background.jpg')no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.center-align{
    text-align: center;
}

.center-img{
    margin: 0 auto;
}
.right-align{
    text-align: right;
}

.ofwhite{
    background: #ddd;
}
.box{
    border: solid 2px red;
}